<div class="search-results" >
  <div class="row " id="mainDiv" >
    <div class="col-md-2">
      <img class="imageClass" id="avatar" src= />
    </div>
    <div class="col-md-10" id="userDetails">
      <h3>Git User</h3>
      <span>Description</span>
      <div class="row" id="userRatings">
        <button type="button" class="btn btn-primary" id="starsCount">Stars: 100k</button>
        <button type="button" class="btn btn-primary" id="starsCount">Issues: 15k}</button>
        <span id="userName">Submitted 18 days ago by
          user</span>
      </div>
    </div>
  </div>
</div>